<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta tag for LinkedIn -->
    <meta name="image" property="og:image" content="static/images/codellama-7b.png">
    <meta property="og:image:secure_url" content="static/images/codellama-7b.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="project-manager.ai">
    <meta name="description" content="Managing your AI projects successfully">

    <meta property="og:title" content="project-manager.ai">
    <meta property="og:description" content="Managing your AI projects successfully">
    <meta property="og:url" content="https://project-manager.ai/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Project Manager AI">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="project-manager.ai">
    <meta name="twitter:description" content="Managing your AI projects successfully">
    <meta name="twitter:image" content="static/images/codellama-7b.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/images/codellama-7b.png">

    <title>Code Llama 7B Demo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/codellama-7b-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/codellama-7b-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/codellama-7b-favicon/favicon-16x16.png">
    <link rel="manifest" href="static/images/codellama-7b-favicon/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/codellama-7b-favicon/favicon.ico">
    <a href="https://project-manager.ai/"><img src="https://project-manager.ai/static/images/project-manager-favicon/favicon.ico" alt="Favicon" style="display:none;"></a>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Error handling and custom scripts -->
    <script src="/static/js/errorHandling.js"></script>
    <script src="/static/js/scripts.js"></script>

</head>

<body>

    <!-- chat-interface -->
    <div class="container-fluid chat-interface">

        <!-- chat menu -->
        <div class="chat-menu">
            <!-- <button class="btn btn-custom mb-3 btn-lg btn-block">New Project</button> -->
            <label for="modalities" class="form-label mb-2">Select model:</label>
            
            <!-- Modality selection, simply add a new button and define the model to create a new modality, then create a new completion for it -->
            <form id="modality-form">
                <div id="modalities">
                    <input type="hidden" name="modality" id="modality" value="llama-2-7b">
                    <button type="button" class="btn btn-outline-custom mb-2 btn-block" data-value="gpt-4">gpt-4-0613</button>
                    <p class="text-muted">OpenAI's GPT-4 <a href="https://platform.openai.com/docs/models/gpt-4" target="_blank">documentation</a>.</p>
                    <button type="button" class="btn btn-outline-primary mb-2 btn-block" data-value="llama-2-7b">codellama-7b</button>
                    <p class="text-muted">Meta's Code llama <a href="https://github.com/facebookresearch/codellama" target="_blank">github</a> and <a href="https://ai.meta.com/research/publications/code-llama-open-foundation-models-for-code/" target="_blank">paper</a>.</p>
                </div>
            </form>
        </div>
            
        <!-- The active chat conversation -->
        <div class="chat-area">
            <div class="container text-white chat-container">
                <div id="result" class="mt-4 text-muted"></div>
            </div>
            <form id="prompt-form" class="prompt-form">
                <div class="mb-3">
                    <div class="position-relative">
                        <!-- wrap the input-spinner-wrapper with a div using Bootstrap grid classes -->
                        <div class="row justify-content-center">
                            <div class="col-lg-8"> <!-- This class will make the width of the child 2/3 in large screens -->
                                <div class="input-spinner-wrapper">
                                    <div class="text-area-wrapper">
                                        <textarea class="form-control" id="prompt" name="prompt" placeholder="Enter company name ..." required></textarea>
                                        <!-- The button is now inside the .text-area-wrapper element -->
                                        <button type="submit" class="btn btn-primary submit-button circle-btn"><i class="fas fa-arrow-right"></i></button>
                                    </div>
                                    <div class="spinner">
                                        <div class="dot dot-1"></div>
                                        <div class="dot dot-2"></div>
                                        <div class="dot dot-3"></div>
                                        <div class="dot dot-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>                    
        </div>

    </div>

    <!-- Skeleton Screen -->
    <div id="skeleton-screen" class="skeleton-screen d-none">
        <div id="spinner-container">
            <div class="spinner">
                <div class="dot dot-1"></div>
                <div class="dot dot-2"></div>
                <div class="dot dot-3"></div>
                <div class="dot dot-4"></div>
            </div>
            <div class="spinner-text">Responding ...</div>
        </div>
    </div>

</body>

</html>

                           